@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --cultured: hsl(40, 39%, 95%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
    --black-opacity: hsla(0, 0%, 7%, 0.6);
    --dark-vanilla: hsl(35, 46%, 76%);
  }
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-bold {
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.barlow-extrabold {
  font-family: "Barlow", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.barlow-black {
  font-family: "Barlow", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.work-sans-medium {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

@layer base {
  body {
    @apply bg-cultured text-black;
  }
}