---
import { Button } from "../ui/button";
import { Badge } from "../ui/badge";

const badgeContent = "Bem-vindo à AmiVet";
const titleContent = "Cuidado excepcional para os seus melhores amigos";
const paragraphContent =
  "Na nossa clínica veterinária, estamos dedicados a oferecer cuidados excepcionais para garantir que seus amados companheiros tenham uma vida saudável e feliz.";
const buttonText = "Marcar consulta";
---

<div class="mx-auto max-w-6xl px-4 flex flex-col gap-y-6 h-full justify-center">
  <Badge
    className="max-w-max font-bold text-primary uppercase bg-background text-xs shadow-md tracking-wide"
    variant="outline">{badgeContent}</Badge
  >

  <h1
    class="text-4xl sm:text-5xl md:text-6xl max-w-full md:max-w-[800px] text-[#f3f4f6] tracking-wide font-extrabold"
  >
    {titleContent}
  </h1>

  <p
    class="nunito-regular max-w-full md:max-w-[700px] text-base sm:text-lg text-[#f3f4f6]/70 mx-auto md:mx-0 tracking-wide"
  >
    {paragraphContent}
  </p>

  <a href="#contact" class="w-full sm:w-max">
    <Button className="capitalize font-semibold text-base w-full tracking-wide">
      {buttonText}
    </Button>
  </a>
</div>
