---
import { Stethoscope, Heart, BriefcaseMedical } from "lucide-react";
import { Card, CardHeader, CardContent } from "../ui/card";

const mainServices = [
  {
    icon: Stethoscope,
    titleContent: "Cuidados Preventivos",
    paragraphContent:
      "Mantenha seus animais de estimação saudáveis com nossos cuidados preventivos completos.",
  },
  {
    icon: Heart,
    titleContent: "Atenção personalizada",
    paragraphContent:
      "Oferecemos atendimento personalizado e compassivo para o bem-estar do seu animal de estimação.",
  },
  {
    icon: BriefcaseMedical,
    titleContent: "Serviços de Urgência",
    paragraphContent:
      "Estamos prontos para ajudar em situações de emergência 24/7.",
  },
];
---

<div
  class="mx-auto max-w-6xl px-4 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6"
>
  {
    mainServices.map(({ icon: Icon, titleContent, paragraphContent }) => (
      <Card className="bg-background z-10 rounded-lg">
        <CardHeader>
          <div class="bg-muted-foreground/15 p-4 rounded-full w-max mx-auto">
            <Icon className="text-primary size-6 shrink-0" />
          </div>
        </CardHeader>

        <CardContent>
          <div class="space-y-4 text-center">
            <h2 class="text-xl sm:text-2xl capitalize text-foreground font-extrabold tracking-wide">
              {titleContent}
            </h2>
            <p class="text-secondary-foreground/70 tracking-wide">
              {paragraphContent}
            </p>
          </div>
        </CardContent>
      </Card>
    ))
  }
</div>
