---
import Layout from "../layouts/Layout.astro";
import Home from "@/components/sections/home.astro";
import InfoBox from "@/components/sections/info-box.astro";
import AboutUs from "@/components/sections/about-us.astro";
import Services from "@/components/sections/services.astro";
import Contact from "@/components/sections/contact/contact.astro";
import Footer from "@/components/footer.astro";
import WhatsappWidget from "@/components/whatsapp-widget.astro";

const titleContentParallax = "Experimente o Luxo dos Nossos Serviços de Barber Concierge";
const buttonAppointmentText = "Marcar consulta";
---

<Layout title="Cortez | Barbearia e Salão de Beleza">
  <div class="flex flex-col max-h-screen">
    <main class="flex-1">
      <section
        id="home"
        class="relative h-[800px] bg-blackOpacity"
      >
        <img class="absolute inset-0 h-full w-full object-cover aspect-video -z-10" src="./sections/home/bg-home.jpg" alt="Background">
        <Home />
      </section>

      <section id="main-services" class="-mt-14">
        <InfoBox />
      </section>

      <section id="about-us" class="pt-24 grid place-content-center">
        <AboutUs />
      </section>
      
      <section id="services" class="pt-24 grid place-content-center">
        <Services />
      </section>

      <section class="pt-24">
        <div class="relative py-32 h-[400px] bg-blackOpacity">
          <!-- <div class="absolute z-10 inset-0 bg-blackOpacity"></div> -->
          <img class="absolute inset-0 h-full w-full object-cover aspect-video -z-10" src="./sections/home/bg-home.jpg" alt="Background">

          <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white gap-y-12 px-4">
            <h2 class="max-w-xl text-3xl sm:text-4xl uppercase barlow-extrabold tracking-wider">{titleContentParallax}</h2>

            <a href="#contact" class="bg-darkVanilla px-8 py-4 uppercase 
            border-2 border-darkVanilla text-black barlow-extrabold tracking-wider w-max mx-auto whitespace-nowrap">
              {buttonAppointmentText}
            </a>
          </div>
        </div>        
      </section>

      <section id="contact" class="py-24 grid place-content-center">
        <Contact />
      </section>
    </main>

    <Footer />

    <WhatsappWidget />
  </div>
</Layout>
