---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Início">
  <div class="grid place-content-center min-h-screen">
    <h1>Astro + React + Tailwind CSS + Shadcn/ui</h1>
  </div>
</Layout>
