---
import { Button } from "@/components/ui/button";
import { Facebook, Instagram, Twitter, Linkedin } from "lucide-react";

const currentYear = String(new Date().getFullYear());

export const devLinks = [
  {
    url: "#",
    icon: Linkedin,
    iconName: "Linkedin",
  },
  {
    url: "#",
    icon: Instagram,
    iconName: "Instagram",
  },
  {
    url: "#",
    icon: Facebook,
    iconName: "Facebook",
  },
  {
    url: "#",
    icon: Twitter,
    iconName: "Twitter",
  },
];


---

<footer class="w-full bg-black">
  <div
    class="mx-auto max-w-6xl px-4 py-8 flex flex-col gap-y-4 sm:flex-row items-center justify-between"
  >
    <p class="work-sans-regular text-center text-white">
      ©<span class="mx-2">{currentYear}</span>Cortez. Todos os direitos
      reservados.
    </p>

    <ul class="flex items-center gap-x-3">
      {
        devLinks.map(({ icon: IconComponent, url }) => (
          <li>
            <a href={url} target="_blank" rel="noopener noreferrer">
              <Button variant="ghost" size="icon">
                <IconComponent className="shrink-0 text-white" size={24} />
                <span class="sr-only">{`ícone ${IconComponent}`}</span>
              </Button>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</footer>